<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techygeek.f3utilities"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/apple"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <meta-data android:name="com.google.android.gms.version"
            android:value="4242000"/>
        <activity
            android:name="com.techygeek.f3utilities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
 
        <activity
            android:name="com.techygeek.f3utilities.RecoveryInstallerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recovery_installer" >
        </activity>
        <activity
            android:name="com.techygeek.f3utilities.RecoveryUninstallerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recovery_uninstaller" >
        </activity>
        <activity
            android:name="com.techygeek.f3utilities.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.techygeek.f3utilities.RooterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_root" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
